# Jekyll build output
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Temporary files & logs
*.log
*.tmp
.DS_Store
Thumbs.db

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# Python build & bytecode caches
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Node modules / Bundler local
node_modules/
vendor/
