<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  {% include header.html %}

  <main id="main-content" class="main-content">
    {{ content }}
  </main>

  {% include footer.html %}

  <!-- Core JavaScript -->
  <script src="{{ '/assets/js/main.js' | relative_url }}?v=4.2"></script>

  <!-- Cloudflare Web Analytics -->
  <script type='module' src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "e70dd5ade19f4847b5cdfb088dafc1db"}'></script>
  <!-- End Cloudflare Web Analytics -->
</body>
</html>
